.navbar {
  background-color: #282c34;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

.completed {
  text-decoration: line-through;
}

.spanbutton {
  cursor: pointer;
}

.spanbutton:hover {
  opacity: 0.2;
}

.center {
  display: flex;
  justify-content: center;
}

.todos {
  width: 100%;
  max-width: 800px;
}

.todos ul {
  list-style-type: none;
}
